.create_hockeypuck{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../image/1.jpg");
}

.form__create_hockeypuck{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 43%;
}
.form__create_hockeypuck div{
    display: flex;
    flex-direction: column;
}
.form__create_hockeypuck div:not(:nth-child(1)),
.form__create_hockeypuck button{
    margin-top: 10%;
}
.cross{
    position: absolute;
    top: 2%;
    left: 1.5%;
    font-size: 250%;
    cursor: pointer;
}
.create_hockeypuck_open_button{
    cursor: pointer;
}


.show{
    display: inline;
}